<div class="panel-footer navbar-fixed-bottom" ng-cloak>
    <button class="btn btn-sm pull-right" ng-click="toggleFooter()">{{toggleFooterText}}</button>
    <footer class="text-center" ng-cloak ng-show="showFooter">
        <small>
            Copyright © 2014 <a href="http://telerikacademy.com" target="_blank">Telerik Academy</a>. All rights reserved.
        </small>
        <br />
        <small>
            <a href="https://github.com" target="_blank">Project on GitHub</a>
        </small>
    </footer>
</div>